{% extends 'layout.html' %}

{% block body %}

    <div class="page-header">
            <h1>Add a Student</h1>
    </div>
    
        <div class="row">
            <div class="col-md-8">
                <form method="POST">
                    <div class="form-group">
                        <label for="first-name">First Name</label>
                        <input type="text" class="form-control" id="first-name" placeholder="First Name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Last Name</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Last Name" name="last-name">
                    </div>
    
                    <div class="form-group">
                        <label for="student-id">Student ID</label>
                        <input type="number" class="form-control" id="student-id" placeholder="Student ID" name="student-id">
                    </div>
    
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

{% endblock %}

