{% extends 'layout.html' %}

{% block body %}

    <div class="page-header">
            <h1>Register here</h1>
    </div>
    
        <div class="row">
            <div class="col-md-8">
                <form method="POST">
                    <div class="form-group">
                        <label for="first-name">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter User Name here..." name="username">
                    </div>
                    <div class="form-group">
                        <label for="last-name">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter Email here" name="email">
                    </div>
    
                    <div class="form-group">
                        <label for="student-id">password</label>
                        <input type="number" class="form-control" id="password" placeholder=password name="password">
                    </div>
    
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

{%endblock %}